@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&family=Patrick+Hand+SC&display=swap');
:root {
  --c-white: #fff;
  --c-black: #000;
  --c-ash: #eaeef6;
  --c-charcoal: #a0a0a0;
  --c-void: #141b22;
  --c-fair-pink: #FFEDEC;
  --c-apricot: #FBC8BE;
  --c-coffee: #754D42;
  --c-del-rio: #917072;
  --c-java: #1FCAC5;
  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #d0e2fa; /*important*/
  --c-indigo-hover: #afcaee; /*important*/
  --c-governor: #012c69f5; /*important*/
  --c-myred:#fad0d0;
  --c-myred-hover:#eeafaf;
  --c-red:rgb(251, 83, 83); 
  --c-dark-red:red;
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line {
  width: 1000px;
  height: 20px;
  background-color: #c1c0c0;
  border-radius: 10px;
  margin: 10px 0;
  animation: loading 1.5s ease-in-out infinite;
}

.line:nth-child(2) {
  animation-delay: 0.5s;
}

.line:nth-child(3) {
  animation-delay: 1s;
}

.box {
  width: 100px;
  height: 90px;
  border-radius: 10px;
  background-color: #c1c0c0;
  margin-left: 20px;
}

@keyframes loading {
  0% { opacity: 0.5; }
  50% { opacity: 1; }
  100% { opacity: 0.5; }
}

/* screen sizes for skeleton loading screen */
@media (max-width: 1440px){
  .line{
    width: 900px;
  }
}
@media (max-width: 1340px){
  .line{
    width: 800px;
  }
}

@media (max-width: 1024px){
  .line{
    width: 500px;
  }
}
@media (max-width: 1240px){
  .line{
    width: 700px;
  }
}
@media (max-width: 1140px){
  .line{
    width:500px;
  }
}
@media (max-width: 924px){
  .line{
    width: 500px;
  }
}
@media (max-width: 824px){
  .line{
    width: 320px;
  }
}
@media (max-width: 767px){
  .line{
    width: 270px;
  }
}
@media (max-width: 624px){
  .line{
    width: 250px;
  }
}
@media (max-width: 524px){
  .line{
    width: 190px;
  }
}
@media (max-width: 424px){
  .line{
    width: 140px;
  }
}


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}
header, nav{
  height: 7vh;
  position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/* animation on scroll */
.temple-box{
    transition: left 1s ease;
}
.navbar-brand{
/* color: #212529 !important; */
font-family: "Palanquin Dark", sans-serif;
font-weight: 500;
}
.navbar{
  background-color:white;
 
}




/* hamburger */

.navbar-nav .nav-link {
  color: #212529;
  font-size: 14px;
  font-weight: 450;
  position: relative;
  display: inline-block;
  border-radius: 20px;
}
.navbar-nav .nav-link:hover{
  color: #212529;
  border-radius: 20px;
  transition: 0.3s;
  /* background-color: #000; */
}


.search-bar{
  color: white !important;
  border: 1px solid grey !important;
  border-radius: 20px !important;
  font-size: 12px !important;
}
#userList{
  color: #212529;
  display: none;
  position: absolute;
  /* margin-top: 5%; */
  border-radius: 0 0 10px 10px;
  right: 10%;
  background-color: rgb(249, 248, 248);
  padding: 10px;
  width: 400px;
}


/* dropdown */




@media (max-width: 767px) {
  .offcanvas.offcanvas-start {
    max-width: 200px; 
    text-align: left;
  }
  .navbar-nav .nav-link {
    
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    justify-content: start;
  }
  .navbar-nav .nav-link:hover{
    /* color: var(--c-indigo); */
    background-color: transparent;
  }

 .search-bar{
  color: #212529 !important;
 }
 #userList{
 position: relative;
 }
}

@media (max-width: 1067px){
  .offcanvas.offcanvas-start {
    max-width: 250px; 
  }
  .navbar-nav .nav-link {
    color: #212529;
  }
  .navbar-nav .nav-link {
    color: var(--c-void);
    font-weight: 500;
    position: relative;
    display: inline-block;
  }
  .navbar-nav .nav-link:hover{
    background-color: transparent;
  }

 

}

#logoutBtn{
  color: rgb(251, 71, 71);
  display: flex;
  align-items: center;
}
/* search button-box */

/* Media for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .media {
      width: 70%;
  }
  #signinBtn{
    position: relative  ;
    
  }
}


/* Media for smartphones */
@media (max-width: 767px) {
  .media {
      width: 90%;
  }
#signinBtn{
  position: relative  ;
  left:17%;
}
}


body{
  color: #212529;
  /* background-color: var(--c-ash) !important; */
}

.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 80vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* background: url('https://www.digitalweigh.web.in/images/shop-slide-01.jpg') center/cover ; */
  background-blend-mode: multiply;

  transition: 0.5s;
  z-index: 2;
}

.image-container {
  position: relative;
}
.image-container img{
  border-radius: 20px;
  border: 1px solid white;
}

.overlap-image {
  width: 70%;
  position: absolute;
  top: 180px; 
  left: 270px; 
}
@media(max-width: 767px)  {
  .image-container {
    position: relative;
    bottom: 35%;
  }
  .img-fluid.image-1{

position: relative;

  }
  .overlap-image {
    width: 70%;
    position: absolute;
    top: 100px; 
    left: 110px; 
  }
}
.text
{
  position: relative;
  z-index: 10;
} 
@media  (max-width: 767px){
.text-area-front{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.badamba-img{
  max-width: 80%;
  display: block;
}
}



.text h2
{
  font-size: 5em;
  font-weight: 800;
  /* color: #fff; */
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  /* color: #fff; */
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  /* color: #fff; */
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.explore-btn-front
{
  display: inline-block;
  font-size: 1em;
  color: #212529 ;
  background-color: white;
  border: 1.5px solid #212529;
  border-radius: 50px;
  padding: 10px 30px;
  
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  transition: 4s ease-in-out;
  
}
.explore-btn-front:hover
{
    color: whitesmoke;
  background: #212529;
  transition: 4s ease-in-out;
  
}




@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}







/* explore */
.places-section {
    padding: 80px 0;
}

.place-card,.news-section {
    /* border: 0.8px solid #d3d3d3; */
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
    background-color: var(--c-white);
}
.place-image {
    max-height: 200px;
    overflow: hidden;
}


.place-image,.singhanath-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 25px;
    padding: 10px;
}
.singhanath-section img{
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px;
height: 40vh;
  object-fit: cover;
}

.place-details {
    padding: 20px;   
}
.attraction{
  color: var(--c-governor);
  /* background-color: var(--c-titan-white); */
  border-radius: 4px;
  padding: 0.2em 0.2em;
  font-weight: 600;
}

.place-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.place-description {
    color: #6c757d;
}
.show-map{
  font-size: 14px;
  padding: 0.5em 1em;
  /* color: var(--c-indigo); */
  /* border: 1px solid black; */
  color: white;
  background-color: #212529; 
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}
.show-map:hover, .watch-video:hover{
  /* border: 1px solid #212529; */
  color: #212529;
background-color:whitesmoke;
}
.watch-video{
  font-size: 14px;
  padding: 0.5em 1em;
  /* color: var(--c-red);
  border: 2px solid var(--c-red); */
  color: white;
  background-color: #212529;
  border-radius: 6px;
  font-weight: 600;
}

.singhanath-img{
    aspect-ratio: 3/2;
    object-fit: cover;
    height: 40vh;
    
}
.singhanath{
    border: none !important;
    background-color: white;
    /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
}
/* temples */
.temple-box{
  /* background-color: rgb(235, 244, 254); */
  color: #212529;
  border: 1px solid #212529;
  border-radius: 10px;
  margin: 3%;
  padding: 5%;
}


/* news articles */
.news-section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

@media (max-width:767px){
  #news_article_s_side_headline{
    font-size: 16px;
    padding: 0;
  }
  #news_article_s_side_authorName{
    font-size: 12px;
  }
  #news_article_s_side_content{
    font-size: 14px;
  }
}
.carousel-inner {
  
  display: flex;
  flex-direction: row;
}

.carousel-item {
  /* background-color: rgb(235, 244, 254); */
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}





  
.article-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.article-meta {
  color: #777777;
  font-size: 0.8rem;
}

.article-content {
  color: #555555;
}

.article-image {
  margin-bottom: 10px;
}
/* my words */
.things-to-consider{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-1{
  
  position: relative;
  margin-bottom: 5%;
  /* border: 1px solid #212529; */
  /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
  /* background-color: rgb(235, 244, 254); */
  padding: 15px;
  border-radius: 10px;
}
/* history */
.history{
  background-color: #f6f9e9;
}
.img-history-2 img{
  border: 2px solid white;
}
.read-history{
  background-color: #1FCAC5;
  padding: 8px;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
}

/* events ssection */
.events-section{
  /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
  background-color: var(--c-white);
}
/* communty resources */

/* list og kings */

.accordion-button:focus {
  box-shadow: none !important;
}

/* comment section */





.comment-btn{
  font-size: 14px;
  font-weight: 500;
  color: var(--c-governor);
  background-color: var(--c-indigo);
  padding: 7px;
  border-radius: 6px;
}
.comment-btn:hover{
  background-color: var(--c-indigo-hover);
}
@media(max-width: 676px){
  .upper-right-text{
    margin-right: 61%; 
  }

}

/* footer */
.footer {
  background-color: #3d4346;
  color: #fff;
}
.footer-heading {
  color: #fff;
  margin-bottom: 20px;
}
.footer-links li {
  list-style: none;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}