@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&family=Patrick+Hand+SC&display=swap');
:root {
  --c-white: #fff;
  --c-black: #000;
  --c-ash: #eaeef6;
  --c-charcoal: #a0a0a0;
  --c-void: #141b22;
  --c-fair-pink: #FFEDEC;
  --c-apricot: #FBC8BE;
  --c-coffee: #754D42;
  --c-del-rio: #917072;
  --c-java: #1FCAC5;
  --c-titan-white: #f1eeff;
  --c-cold-purple: #a69fd6;
  --c-indigo: #6558d3;
  --c-governor: #4133B7;
  --c-red:rgb(251, 83, 83);
  --c-dark-red:red;
}

.loader-container{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height:30vh;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}
header, nav{
  height: 7vh;
  position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* animation on scroll */
.temple-box{
    transition: left 1s ease;
}
.navbar-brand{
color: white !important;
font-family: "Palanquin Dark", sans-serif;
font-weight: 500;
}
.navbar{
  background-color:#3d4346;
}

/* hamburger */

.navbar-nav .nav-link {
  color: aliceblue;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  display: inline-block;
}
.navbar-nav .nav-link:hover{
  color: white;
  transition: 0.3s;
  background-color: #434d4f;
}


.search-bar{
  color: white !important;
  border: 1px solid grey !important;
  border-radius: 20px !important;
  font-size: 12px !important;
}
#userList{
  color: black;
  display: none;
  position: absolute;
  /* margin-top: 5%; */
  border-radius: 0 0 10px 10px;
  right: 10%;
  background-color: rgb(249, 248, 248);
  padding: 10px;
  width: 400px;
}

@media (max-width: 767px) {
  .offcanvas.offcanvas-start {
    max-width: 200px; 
  }
  .navbar-nav .nav-link {
    color: black;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: flex;
    align-items: center;
  }
  .navbar-nav .nav-link:hover{
    color: var(--c-indigo);
    background-color: transparent;
  }

 .search-bar{
  color: black !important;
 }
 #userList{
 position: relative;
 }
}

@media (max-width: 1067px){
  .offcanvas.offcanvas-start {
    max-width: 250px; 
  }
  .navbar-nav .nav-link {
    color: black;
  }
  .navbar-nav .nav-link {
    color: black;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }
  .navbar-nav .nav-link:hover{
    background-color: transparent;
  }

 

}

#logoutBtn{
  color: rgb(251, 71, 71);
  display: flex;
  align-items: center;
}
/* search button-box */

/* Media for tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .media {
      width: 70%;
  }
  #signinBtn{
    position: relative  ;
    left:35%;
  }
}


/* Media for smartphones */
@media (max-width: 767px) {
  .media {
      width: 90%;
  }
#signinBtn{
  position: relative  ;
  left:17%;
}
}


body{
  color: #333;
  background-color: var(--c-ash) !important;
}

.showcase
{
  position: relative;
  right: 0;
  width: 100%;
  min-height: 80vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3d4346;
  transition: 0.5s;
  z-index: 2;
}

.image-container {
  position: relative;
}
.image-container img{
  border-radius: 20px;
  border: 1px solid white;
}

.overlap-image {
  width: 70%;
  position: absolute;
  top: 180px; 
  left: 270px; 
}
@media(max-width: 767px)  {
  .image-container {
    position: relative;
    bottom: 35%;
  }
  .img-fluid.image-1{

position: relative;

  }
  .overlap-image {
    width: 70%;
    position: absolute;
    top: 100px; 
    left: 110px; 
  }
}
.text
{
  position: relative;
  z-index: 10;
} 
@media  (max-width: 767px){
.text-area-front{
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.badamba-img{
  max-width: 80%;
  display: block;
}
}



.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text h3
{
  font-size: 4em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}




@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
}

/* explore */
.places-section {
    padding: 80px 0;
}

.place-card,.news-section {
    /* border: 0.8px solid #d3d3d3; */
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
    background-color: var(--c-white);
}
.place-image {
    max-height: 200px;
    overflow: hidden;
}


.place-image,.singhanath-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 25px;
    padding: 10px;
}
.singhanath-section img{
  border: 3px solid white;
  border-radius: 25px;
  padding: 10px;
height: 40vh;
  object-fit: cover;
}

.place-details {
    padding: 20px;   
}
.attraction{
  color: var(--c-indigo);
  /* background-color: var(--c-titan-white); */
  border-radius: 4px;
  padding: 0.2em 0.2em;
  font-weight: 600;
}

.place-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.place-description {
    color: #6c757d;
}
.show-map{
  font-size: 14px;
  padding: 0.5em 1em;
  /* color: var(--c-indigo);
  border: 2px solid var(--c-indigo); */
  color: white;
  background-color: var(--c-indigo);
  border-radius: 6px;
  font-weight: 600;
}
.show-map:hover{
background-color:var(--c-governor);
}
.watch-video{
  font-size: 14px;
  padding: 0.5em 1em;
  /* color: var(--c-red);
  border: 2px solid var(--c-red); */
  color: white;
  background-color: var(--c-red);
  border-radius: 6px;
  font-weight: 600;
}
.watch-video:hover{
  background-color: var(--c-dark-red);
}
.singhanath-img{
    aspect-ratio: 3/2;
    object-fit: cover;
    height: 40vh;
    
}
.singhanath{
    border: none !important;
    background-color: white;
    /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
}
/* temples */
.temple-box{
  background-color: rgb(223, 222, 222);
  border: 1px solid rgb(175, 174, 174);
  border-radius: 10px;
  margin: 3%;
  padding: 5%;
}

/* news articles */
.news-section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
}

.carousel-inner {
  display: flex;
  flex-direction: row;
}

.carousel-item {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    font-size: 1.5rem;
    color: #333;
    background-color: transparent;
    border: none;
}

.carousel-control-prev {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(40%);
    transform: translateX(-70%);

}

.carousel-control-next {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(40%);
    transform: translateX(70%);
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  outline: none;
}


.article-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 20px;
}

.article-meta {
  color: #777777;
  font-size: 0.8rem;
}

.article-content {
  color: #555555;
}

.article-image {
  margin-bottom: 10px;
}
/* my words */
.things-to-consider{
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-1{
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
    background-color: var(--c-white);
}
/* history */
.history{
  background-color: #f6f9e9;
}
.img-history-2 img{
  border: 2px solid white;
}
.read-history{
  background-color: #1FCAC5;
  padding: 8px;
  color: white;
  border-radius: 10px;
  margin-bottom: 5%;
}

/* events ssection */
.events-section{
  /* box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25); */
  background-color: var(--c-white);
}
/* communty resources */

/* list og kings */

.accordion-button:focus {
  box-shadow: none !important;
}
/* comment section */
.upper-right-text {
  position: relative;
  font-weight: bold;
  text-align: center;
  color: rgb(25, 61, 159);
 background-color: rgb(215, 225, 253);
 padding: 4px;
 border-radius: 6px;
 margin-right: 91%;
 display: flex;
 white-space: nowrap;
}


.beta-faq-popup-content{
  border: 1px dotted orange;
  font-size: 12px;
  border-radius: 6px;
  background-color: rgb(242, 221, 182);
  padding: 1px;
}


.comment-btn{
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: rgb(43, 196, 97);
  padding: 7px;
  border-radius: 6px;
}
.comment-btn:hover{
  background-color: rgb(35, 176, 84);
}
@media(max-width: 676px){
  .upper-right-text{
    margin-right: 61%; 
  }

}
.comment-display{
  background-color:rgb(215, 225, 253);
  
}
/* footer */
.footer {
  background-color: #3d4346;
  color: #fff;
}
.footer-heading {
  color: #fff;
  margin-bottom: 20px;
}
.footer-links li {
  list-style: none;
}
.footer-links a {
  color: #fff;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}
